@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterFont-woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@theme {
    --color-learnSidebar: #464646;
    --color-learnbg: #343434;
    --spacing-learn: 300px;
    --font-sans: 'Inter', system-ui, sans-serif;
    --color-search: #554038;
}

/* width */
::-webkit-scrollbar {
    @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent p-5 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-learnSidebar rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
